<%- include('partials/header.ejs') %> <% if (locals.followers_followed) { %> <%
for( let profile of followers_followed) { %>
<div class="post border shadow-10 parent-active">
  <a href="/profile/<%= profile.id %>" class="post-link">
    <div class="profile-info">
      <img
        src="<%= profile.profile_pic_path %>"
        alt="profile picture"
        id="profile-pic"
      />
      <p><%= profile.username %></p>
    </div>
  </a>
</div>
<% } %> <% } %> <%- include('partials/footer.ejs') %>
