<%- include('partials/header.ejs') %>
<div id="post-container">
  <div id="post">
    <div id="title">
      <h1><%= post.title %></h1>
      <form action="">
        <button id="favorite-btn">
          <i id="star" class="<%= isFavorite ? "fa-solid fa-star" : "fa-regular fa-star" %>"></i>
        </button>
      </form>
    </div>
    <p class="content"><%= post.content %></p>
  </div>
  <div id="user-info">
    <a href="/profile/<%= post.user_id %>" id="profile-link">
      <img src="<%= userInfo.profile_pic_path %>" alt="profile pic" />
      <p><%= userInfo.username %> | <%= String(post.date).slice(0, 15) %></p>
    </a>
  </div>
</div>
<script src="/scripts/favorite.js"></script>
<%- include('partials/footer.ejs') %>
